body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1797e7;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.about-content {
    flex: 1;
    max-width: 600px;
}

.about-content h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-content p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Footer Styles */
footer p {
    font-size: 0.8em;
}

footer:hover {
    background-color: #555;
}

